﻿/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar 
{
    background: #d41d50 !important;
    
}

.navbar-inverse {
    background-color: #d41d50;
    border-color: #fbf6f6;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }
